<?xml version="1.0" encoding="UTF-8"?>

<log4j:configuration>
	<!-- 1) Logguer dans console Console -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<!--  <layout class="org.apache.log4j.SimpleLayout" />-->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %C{5} (%F:%L) - %m %n"/>
		</layout>
	</appender>
	
	<!-- 2) Config Logs -->
	<logger name="fr.assj.gestiontournoi" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="console"/>
	</logger>
	
	<!-- 3) Config Logs racine -->
	<root>
		<level value="info"/>
		<appender-ref ref="console"/>
	</root>
</log4j:configuration>